@import "bootstrap";
@import "fontawesome";
@import "regular";
@import "solid";
@import "brands";

.autocomplete {
  width: 100%;
  z-index: 999;
  margin: 15px;
}

.weather-info {
  margin-top: 25% !important;
}

.navbar {
  min-height: 160px !important;
}
