<%- if @forecast.persisted? %>

<% else %>
  <h1>Please type an address or zipcode in the menu bar to get the current forecast for the specified city and thanks for using Apple Weather!</h1>
<% end %>
